/* Preloader */
#preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #222;
	z-index: 2;
	transition: opacity 0.5s;
}
#load {
	width: 8em;
	height: 8em;
	border-radius: 50%;
	border: 2px solid #fff;
	border-top: 2px solid #888;
	animation: rotate 1.5s linear infinite;
}
#loading-text {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ddd;
	font-size: 1.5em;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}