@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
::selection {
	background-color: #fff;
	color: #000;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #666;
	cursor: default;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Main blocks */
body {
	background-color: #212121;
	padding: 0;
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 32px;
}
#todo-app {
	width: 80%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* The top layer*/
#title {
	font-size: 2.5em;
	text-align: center;
}
#input {
	display: inline;
	width: calc(80% - 20px);
	padding: 2.5px 10px 2.5px 10px;
	background-color: #232323;
	border: 0.2px solid #555;
	outline: none;
	color: #fff;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}
#addTodo {
	display: inline;
	width: calc(20% - 5px);
	background: transparent;
	border: 1px solid #555;
	padding: 2.5px 15px 2.5px 15px;
	outline: none;
	user-select: none;
	color: #fff;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	cursor: pointer;
}
hr {
	border: 0;
	border-bottom: #555 solid 2px;
}
.h2 {
  position: relative;
	font-size: 1.75em;
	color: #aaa;
}

/* Todo list */
.todo-list,
.done-list {
	padding: 0;
}
.todo-list-item,
.done-list-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border-top: 1px #444 solid;
	padding: 10px 0 10px 0;
}
.todo-list-item:last-child,
.done-list-item:last-child {
	border-bottom: 1px #444 solid;
}
.todo-list-item-text,
.done-list-item-text {
	max-width: calc(100% - 2em);
	overflow-x: auto;
	overflow-y: hidden;
	font-size: 1.25em;
	margin-left: 1em;
	vertical-align: middle;
}
.done-list-item-text {
	text-decoration: line-through;
	opacity: 0.75;
}
.check-button {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid #444;
	cursor: pointer;
	color: #4bb543;
	text-align: center;
}
.check-button span {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 22px;
}
.delete-button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 64px;
	cursor: pointer;
	user-select: none;
}
.clear-button {
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 50%;  
  transform: translate(0, -50%);
  margin-left: 8px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #666;
  font-size: 24px;
  transition: 0.25s;
  pointer-events: none;
}
.h2:hover .clear-button {
  opacity: 1;
  pointer-events: all;
}
.clear-button:hover {
  text-decoration: underline;
}

/* Placeholder */
.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	color: #444;
	font-size: 1.25em;
	font-family: 'Hachi Maru Pop', cursive;
}
@media (hover: none) {
  .clear-button {
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (max-width: 1440px) {
  #todo-app {
    width: 90%;
  }
}
@media screen and (max-width: 920px) {
	#todo-app {
		width: 95%;
	}
}
@media screen and (max-width: 710px) {
	#input {
		width: calc(100% - 20px - 1.666666px);
	}
	#addTodo {
		width: 100%;
	}
}
