* {
  user-select: none;
}
body {
  background-color: ghostwhite;  /*#333*/
  color: #333;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 400px;
  min-height: 800px;
  display: block;
  margin: 70px auto 0;
}

input, button {
  outline: none;
}
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 23px;
  border-bottom: 2px solid #333;
  padding: 0 0 5px;
  margin: 0;
  text-transform: uppercase;
  display: block;
  width: 98%;
}
input[type="text"] {
  margin: 0;
  font-size: 20px;
  line-height: 18px;
  height: 15px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: #666;
  width: 80%;
}
input[type="text"]::selection {
  background-color: #333;
  color: white;
}
input[type="text"]:focus {
  color: #333;
}
#add {
  border: none;
  font-size: 20px;
  background: none;
  margin-left: 3px;
  cursor: pointer;
}
#add:hover {
  color: #0ead69;
  transition: 0.20s;
}

input, button {
  outline: none;
}
ul {
  margin: 20px 0 0 0;
  padding: 0;
}
li {
  clear: both;
  list-style:none;
  margin: 10px 0 10px 0;
  font-size: 22px;
  vertical-align: middle;
}
li * {
  float: left;
}
li > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li input {
  cursor: pointer;
}
.del {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
  float: right;
}
.del:hover {
  transition: 0.2s;
  color: #e63946;
}